extends layout

block content
  h1= title
  p Bem Vindo a biblioteca local , um site Express muito básico desenvolvido como um exemplo tutorial na Mozilla Developer Network.

  h1 Conteúdo Dinâmico

  if error
    p Error getting dynamic content.
  else
    p A biblioteca tem os seguintes registros:

    ul
      li #[strong Livros:] !{data.book_count}
      li #[strong Cópias:] !{data.book_instance_count}
      li #[strong Cópias disponíveis:] !{data.book_instance_available_count} 
      li #[strong Autores:] !{data.author_count}
      li #[strong Gêneros:] !{data.genre_count}